# Entorno virtual
venv/
.venv/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc

# Base de datos SQLite
db.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Media (si aplica)
media/credentials/
__pycache__/
*.py[cod]
.env
*.sqlite3
